<h1>Edit your video</h1>

<form action="/videos/<%= @video['id'] %>" method="POST">
<!-- note method post here to send stuff -->

  <input type="text" name="title" id="title" value="<%= @video['title'] %>" autofocus>
  <input type="text" name="description" id="description" value="<%= @video['description'] %>">
  <input type="text" name="url" id="url" value="<%= @video['url'] %>">
  <input type="text" name="genre" id="genre" value="<%= @video['genre'] %>">

  <!-- Because we are editing the start value is whats stored in the db.  Calling it via global variable thats been set to 'this' video via url -->




  <button>Save</button>
</form>